body{
  color: black;
  font-family: 'Vollkorn', serif;
}

#output{
  height: 100%;
  width: 100%:;
}

.centered{
  text-align: center;
}

/* = = = typography = = = */

.sans-serif-type{
  font-family: 'Lato', sans-serif;
}

.article-section-tag, .article-author, .article-credits, .leave-comment-link{
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.underlined-block{
  display: unset;
  border-bottom: solid 1px black;
}



/* = = = article  = = = */


.magazine-header{
  letter-spacing: 1px;
  color: black;
  font-size: 22px;
  margin: 30px 0 20px 0;
  font-weight: 400;
  text-transform: uppercase;
}

.article-title{
  font-size: 19px;
  font-weight: 400;
  display: block;
  margin: 30px 0 15px 0;
}

.article-content{
  margin: 50px 0;
}

.article-content p, .article-author, .article-credits, .article-credits{
  margin: 20px 18%;
}

.article-content p{
  line-height: 19px;
  font-weight: lighter;
  font-size: 14px;
  letter-spacing: 1px;
}

.article-content p:first-of-type {
  font-size: 18px;
  line-height: 23px;
}

.article-content blockquote{
  margin: 40px 30%;
}

.article-content q{
  font-weight: 400;
  font-size: 25px;
}

.article-credits{
  font-size: 11px;
  /*margin: 20px 0;*/
}

.indent{
  padding-left: 70px; 
  min-width: 100%;
}

/* = = = Comment Section = = = */

.comment-section-wrapper{
  border: solid black 1px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}


.leave-comment-link{
  font-size: 14px;
}

cite{
  font-style: normal;
  font-weight: 700;
}

time{
  color: grey;
}

#comments-section{
  font-size: 13px;
  margin-top: 30px; 
}

#comments-section p{
  margin: 5px 0;
}

#comments-section section{
  font-size: 12px;
}

.comment, .comment-reply{
  margin: 10px 0;
}

.comment-reply-link{
  text-decoration: underline;
  margin-left: 5%;
}

/* = = = Carousel = = =  */

#carousel-outer{
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.chevron-left{
  transform: rotate(180deg);
}

.chevron-right, .chevron-left {
  background: url('icons/chevron-right-icon_4.svg');
  height: 40px;
  width: 40px;
  display: block;
}

.carousel-control-next, .carousel-control-prev{
  opacity: 1;
}

@media (min-width: 768px) {

  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }


  .carousel-inner{
    width: 200%!important;
  }

  .carousel-item{
    margin-right: 0;
    padding: 15px;
  }

}

@media (min-width: 992px) {

  .carousel-inner{
    width: 133%!important;
  }


  @media only screen and (min-width: 1025px){
    #content-wrapper {
      width: 1100px!important;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
