body{
  color: black;
  font-family: 'Vollkorn', serif;
}

a:link, a:hover, a:visited , a:active{
  color: black;
  text-decoration: none;
}


#output{
  height: 100%;
  width: 100%:;
}

.centered{
  text-align: center;
}

/* = = = typography = = = */

.sans-serif-type, body input{
  font-family: 'Lato', sans-serif;
}

.article-section-tag, .article-author, .article-credits, .leave-comment-link{
  font-size: 15px;
  letter-spacing: 1px;
}

.underlined-block{
  display: unset;
  border-bottom: solid 1px black;
  text-transform: uppercase;
}

/* = = = article  = = = */

.article-content p, .article-author, .article-credits, .article-credits{
  margin: 20px 8%;
}

.article-content blockquote{
  margin: 40px 15%;
}

@media (min-width: 992px) {
  .article-content p, .article-author, .article-credits, .article-credits{
    margin: 20px 10%;
  }

  .article-content blockquote{
    margin: 40px 15%;
  }
}


@media only screen and (min-width: 1025px){
  .article-content p, .article-author, .article-credits, .article-credits{
    margin: 20px 18%;
  }

  .article-content blockquote{
    margin: 40px 25%;
  }

}

#aticle-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.article-header{
  margin: auto;
}

.magazine-header{
  letter-spacing: 1px;
  color: black;
  font-size: 22px;
  margin: 30px 0 20px 0;
  font-weight: 400;
  text-transform: uppercase;
}

.article-title{
  font-size: 19px;
  font-weight: 400;
  display: block;
  margin: 30px 0 15px 0;
}

.article-content{
  margin: 50px 0 30px;
}

.article-content p{
  line-height: 19px;
  font-weight: lighter;
  font-size: 14px;
  letter-spacing: 1px;
}

.article-content p:first-of-type {
  font-size: 18px;
  line-height: 23px;
}

.article-content q{
  font-weight: 400;
  font-size: 28px;
}

.article-credits{
  font-size: 11px;
  /*margin: 20px 0;*/
}

.indent{
  padding-left: 70px; 
  min-width: 100%;
}


/*article images*/

.article-image-wrapper img{
  width: 100%;
}

/* = = = Comment Section = = = */

.comment-section-wrapper{
  border: solid black 1px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}


.leave-comment-link{
  font-size: 14px;
}

cite{
  font-style: normal;
  font-weight: 700;
}

time{
  color: grey;
}

#comments-section{
  font-size: 13px;
  margin-top: 30px; 
}

#comments-section p{
  margin: 5px 0;
}

#comments-section section{
  font-size: 12px;
}

.comment, .comment-reply{
  margin: 10px 0;
  min-width: 100%;
}

.comment-reply-link{
  text-decoration: underline;
  margin-left: 5%;
}


/*social media*/

#social-media-links{
  text-align: center;
  margin: 50px 0 35px; 
}

#social-media-links i{
  height: 20px;
  width: 20px;
  display: inline-block;
  background-size: contain;
}

.link-fb{
  background: url('icons/icon-fb.png');

}

.link-twit{
  background: url('icons/icon-tw.png');
}

.link-pin{
  background: url('icons/icon-pi.png');
}

.link-tum{
  background: url('icons/icon-tu.png');
}

.link-goog{
  background: url('icons/icon-go.png');
}

.link-mail{
  background: url('icons/icon-em.png');
}

/*contact form*/

.contact-form-header{
  font-size: 22px;
}

#contact-form-wrapper{
  margin: 50px auto;
  text-align: center;
}

#contact-input{
  border: 0;
  border-bottom: 1px solid #000;
  text-align: center;
  width: 45%;
  padding: 10px 0;
  font-size: 13px;
  margin: 10px;
}

#contact-input-button{
  text-align: center;
  background: white;
  border: 0;
  border-bottom: 1px solid black;
  width: auto;
  display: block;
  margin: auto;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
}

/* = = = Carousel = = =  */

.carousel-article{
  background: white;
}

.carousel-article-header{
  text-transform: capitalize;
  font-size: 18px;
}

.carousel-article p{
  font-size: 13px;
  margin: 0;
}

.date-posted{
  display: inline-flex;
  float: right;
}

#carousel-outer, .carousel{
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.chevron-left{
  transform: rotate(180deg);
}

.chevron-right, .chevron-left {
  background: url('icons/chevron-icon.svg');
  height: 40px;
  width: 40px;
  display: block;
  background-size: contain;

}

.carousel-control-next, .carousel-control-prev{
  opacity: 1;
}

.carousel-item{
  margin-right: 0;
  padding: 25px;
}

.carousel-inner{
  width: 200% !important;
}

@media (min-width: 768px) {

  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }

  .carousel-inner{
    /*width: 200%!important;*/
  }

}

