


.hide {
  display: none;
}

body{
  background: gainsboro;
}

#headerText, #message{
  /*font-family: 'Raleway Dots', sans-serif;*/
  font-family: 'Pacifico', cursive;
  font-size: 3.5rem;
  margin: 20px 0
}

#output, #livesLeft{
  font-family: 'Raleway dots', sans-serif;
  font-size: 3rem;
  margin: 20px;
}

#message, #livesLeft{
  font-size: 1.7rem;
}

#inputArea{
  text-align: center;
  float: right;
  margin-top:  8vh;
  margin-right: 8vw;
  border: 1px solid black;
  width: 30vw;
  height: 75vh;
  padding: 25px;
  background-color: #FFBC42 ;
  border-radius: 5px;
  border: none;
}

p{
  font-family: 'Julius Sans One', sans-serif;
}

button{
  border: none;
  background-color: #218380;
  border-radius: 25px;
  min-width: 170px;
  padding: 10px 30px;
  /*font-family: 'Raleway', sans-serif;*/
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1rem;
  color: white;
  letter-spacing: 5px;
}


input{
  border: none;
  background-color: whitesmoke;
  border-radius: 25px;
  height: 40px;
  width: calc(70% - 50px);
  padding: 0 20px;
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

input:focus { 
    background-color: none;
    outline: none;
}

#output{
  letter-spacing: 0.5rem;
  /*font-size: xx-large;*/
}

#gallowsBeam, #gallowsNoose, #gallowsNooseCircle, #gallowsMast, #gallowsFloor, #head, #hair, #eyeLeft, #eyeRight, #mouth, #armLeft, #torso, #armRight, #legLeft, #legRight{
  height: 50px;
  width: 50px;
  position: absolute;
}

/*colours*/

#gallowsBeam, #gallowsMast, #gallowsFloor{
  border: solid #272625 10px;
  background-color: #754F44;
  border-radius: 10px;
  background-color: #4d3a1c;
}

#gallowsBeam{
  width: 300px;
  height: 35px;
  top: 5vh;
  left: 335px;
  border-left: #754F44;
  z-index: 5;
}

#gallowsMast{
  height: 90vh;
  top: 5vh;
  left: 300px;
  width: 35px;
}

#gallowsFloor{
  height: 35px;
  width: 500px;
  top: 92vh;
  left: 280px;
}

#gallowsNoose{
  border: dashed #272625 5px;
  background-color: grey;
  width: 12px;
  left: 552px;
  top: 65px;
  box-shadow: 0 0 0 4px grey;
  border-bottom: grey solid 5px;
}

#gallowsNooseCircle{
 background: grey;
 border: 5px dashed black;
 box-shadow: 0 0 0 4px grey, inset 0 0 0 4px grey, inset 0 0 0 50px white;
 text-shadow: -1px -1px #aa3030;
 width: 80px;
 height: 80px;
 border-radius: 100%;
 left: 520px;
 top: 126px;
}

#head{
  z-index: 50;
  border-radius: 100%;
  background-color: #F3D6E4;
}

#mouth{
  width: 16px;
  height: 8px;
  border-radius: 25px 25px 0 0;
  border: #272625 solid 5px;
  border-bottom: none;
  top: 220px;
  left: 570px;
  z-index: 50;
}

#hair, #head{
  z-index: 50;
  border: solid #6C4F3D 10px;
  top: 120px;
  left: 515px;
  height: 110px;
  width: 110px;
  /*display: none;*/
}

#hair{
  -webkit-clip-path: polygon(100% 0, 100% 100%, 100% 45%, 75% 55%, 75% 45%, 50% 55%, 50% 45%, 25% 55%, 25% 45%, 0 55%, 0 0);
  clip-path: polygon(100% 0, 100% 45%, 75% 55%, 75% 45%, 50% 55%, 50% 45%, 25% 55%, 25% 45%, 0 55%, 0 0);
  background-color: #6C4F3D;
  border-radius: 35% 35% 0 0;
}


#eyeLeft, #eyeRight{
  z-index: 50;
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  top: 195px;
  background-color: #6C4F3D;
  height: 20px;
  width: 20px;
  animation: 2s linear infinite rotate;
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(90deg)
  }
}

#eyeLeft{
  left: 550px;
}

#eyeRight{
  left: 600px;
}

#torso{
  z-index: 20;
  top: 230px;
  left: 500px;
  height: 175px;
  width: 110px;
  border-radius: 40px 40px 10px 10px;
  border: solid #3F4B3B 10px;
  background: #8FBC94;
  -webkit-animation-name: torsoSway; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: torsoSway;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#armLeft, #armRight{
  background-color: #272625;
  height: 170px;
  width: 35px;
  border: none;
  border-radius: 30px 30px 10px 10px;
  border-bottom: dashed pink 4px;
  -webkit-box-shadow: inset 0px -15px 0px 0px pink;
  -moz-box-shadow: inset 0px -15px 0px 0px pink;
  box-shadow: inset 0px -15px 0px 0px pink;
}

#armLeft{
  z-index: 50;
  top: 255px;
  left: 520px;
  -webkit-animation-name: leftArmSway; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: leftArmSway;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#armRight{
  z-index: 5;
  top: 260px;
  left: 600px;
  -webkit-animation-name: rightArmSway; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: rightArmSway;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes leftArmSway {

  0%   {transform: rotate(-5deg); transform-origin: top;}
  50%  {transform: rotate(5deg); transform-origin: top;}
  100% {transform: rotate(-5deg); transform-origin: top;}
}

@keyframes leftArmSway {

  0%   {transform: rotate(-5deg); transform-origin: top;}
  50%  {transform: rotate(5deg); transform-origin: top;}
  100% {transform: rotate(-5deg); transform-origin: top;}
}

@-webkit-keyframes rightArmSway {

  0%   {transform: rotate(-10deg); transform-origin: top;}
  50%  {transform: rotate(0deg); transform-origin: top;}
  100% {transform: rotate(-10deg); transform-origin: top;}
}

@keyframes rightArmSway {

  0%   {transform: rotate(-10deg); transform-origin: top;}
  50%  {transform: rotate(0deg); transform-origin: top;}
  100% {transform: rotate(-10deg); transform-origin: top;}
}
@-webkit-keyframes torsoSway {

  0%   {transform: rotate(3deg); transform-origin: top;}
  50%  {transform: rotate(-7deg); transform-origin: top;}
  100% {transform: rotate(3deg); transform-origin: top;}
}

@keyframes torsoSway {

  0%   {transform: rotate(7deg); transform-origin: top;}
  50%  {transform: rotate(-3deg); transform-origin: top;}
  100% {transform: rotate(7deg); transform-origin: top;}
}

#legLeft, #legRight{
  z-index: 10;
  height: 170px;
  width: 40px;
  background-color: #263959;
  border-radius: 0 0 15px 15px;
  border: none;
  top: 400px;
  border-bottom: black solid 15px;
  -webkit-animation-name: legSway; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: legSway;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  box-shadow: inset 0px -10px 0px 0px black, inset 0px -15px 0px 0px grey, inset 0px -20px 0px 0px black, inset 0px -25px 0px 0px grey, inset 0px -30px 0px 0px black, inset 0px -40px 0px 0px pink;
}

#legLeft{
  left: 510px;
}

#legRight{
  left: 560px;
}

@-webkit-keyframes legSway {

  0%   {transform: rotate(-5deg); transform-origin: top;}
  50%  {transform: rotate(5deg); transform-origin: top;}
  100% {transform: rotate(-5deg); transform-origin: top;}
}

@keyframes legSway {

  0%   {transform: rotate(-5deg); transform-origin: top;}
  50%  {transform: rotate(5deg); transform-origin: top;}
  100% {transform: rotate(-5deg); transform-origin: top;}
}
